<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seanlindev.springframework.shippingserviceapi.repositories.AccessSecretRepository">

    <resultMap id="AccessSecretMap" type="AccessSecret">
        <result property="userId" column="user"/>
        <result property="keyId" column="key_id"/>
        <result property="keySecret" column="key_secret"/>
    </resultMap>
    <select id="findByKeyId" parameterType="java.lang.String" resultMap="AccessSecretMap">
        select * from api_secrets where key_id = #{id}
    </select>

    <insert id="save" parameterType="AccessSecret">
        insert into api_secrets (key_id, key_secret, user) values (#{keyId}, #{keySecret}, #{userId})
    </insert>
</mapper>